@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

label {
  color: rgba(0,0,0,.05)
  ;
}

input {
  color: rgba(0,0,0,.05);
}
button {
  background-color:#fb3e44;
color: white;
}

#section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  background-color: rgba(232,217,217,.3);
  
}
#heading1 {
  font-size: 2.5rem;
  font-weight: bolder;

}
#article1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  margin : 50px;
  line-height: 28px;

  
}


#see_plans {
  background-color: #fb3b49;
  box-shadow: 8px 8px 0px 0px rgba(251,59,73,.2);
  margin: 30px 30px;
  width: 200px ; 
  height: 70px;
  border: none;
  cursor: pointer;
}
#LinkJF:hover {
  cursor: pointer;
}
#section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  
  
}
#heading2 {
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg, 0deg);
  font-style: italic;
  font-size: 1.5rem;

}
#article2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 30px  ;
  text-align: center;
  
}

#section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;

}
#caixote3 {
  display: flex;
  margin: 30px;

}
#heading3 {
  color : #ED1C24;


}
#heading4 {
  color : #ED1C24;


}
#heading5 {
  color : #ED1C24;


}
#heading6 {
  color : #ED1C24;


}
#zero {
  padding: 20px;
}

#team {
  padding: 20px;
}
#familiar {
  padding: 20px;

}

#enjoy {
  padding: 20px;
}

#BTNORG {
  background-color: black;
  width: 400px ;
  height: 60px;
  box-shadow:  8px 8px 0 rgba(128,83,35,.2);
  color: white;
}


#exa {

  width: 230px;
  margin: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}


#mene {
  width: 50px ;
}

#seta {
  width: 50px;
}

#bin {
  width: 50px;
} 

#qua {
  width: 50px;
}